html,body{
    height: 100%;
    background-color: #fff;
}

.betw {
    width: 100%;
    height: 15px;
    background-color: #F2F2F2;
}

.open-detail, .loan-detail {
    display: none;
}

.loan-detail {
    width: 85%;
    margin: auto;
}

.totalRepayment {
    margin-left: 10px;
}

.ok-btn {
    position: fixed;
    width: 100%;
    bottom: 30px;
    margin: 0;
}

.fc-wrapper {
    color: #706f6f;
    margin-bottom: 100px;
}

.checked-box {
    background: url(./image/ok.png) no-repeat center center #333;
}

.check-box {
    border: 1px solid #333;
    border-radius: 3px;
    width: 14px;
    height: 15px;
    vertical-align: middle;
    display: inline-block;
}

.report-box {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.report-box {
    font-size: 13px;
    text-align: center;
}